BACKEND_IMAGE=tripbuddy-backend:latest
FRONTEND_IMAGE=tripbuddy-frontend:latest
PROMETHEUS_IMAGE=tripbuddy-prometheus:latest
GRAFANA_IMAGE=tripbuddy-grafana:latest
BACKEND_PORT=8000
FRONTEND_PORT=80
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
